.item{
    position: relative;
    border: 1px solid gray;
    border-radius: 8px;
}

.image-container img{
    border-radius: 8px;
}
.item label{
    position: absolute;
    top: 5px;
    left: 5px;
}
.item:hover label{
    display: block;
}
.item:hover .darken{
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .image-container{
    border-radius: 8px;
    position: relative;
    background-color: white;
    cursor: pointer;
  }
  .image-container:active{
    border: 1px solid gray;
    z-index: 1000;
  }
  
  .image-container span{
    transition: all 250ms ease-in-out;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .whiten{
    background-color: rgba(255, 255, 255, 0.6);
  }


/* Hide the default checkbox and customizng style */
input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 3px;
   
}

/* Create a custom checkbox style */
input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode checkmark */
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -1px;
    left: 4px;
    color: #ffffff; /* checkmark color */
}

/* Change appearance when checkbox is checked */
input[type="checkbox"]:checked {
    background-color: #367dbf;
}





