.main-layout{
    width: 60vw;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
}
.gallery-layout{
    padding: 24px;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 12px;
}
.items-container>div:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
}